@import "../../variables.scss";

.urlInput,
.input {
  border-radius: 5px;
}

.urlInput {
  background-color: $primary-dark-violet;
  background-image: url('../../../public/images/bg-shorten-desktop.svg');
  padding: 3rem;
  border-radius: 5px;
  margin: 0 auto 1.5rem auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  width: 100%;
}

.inputContainer {
  position: relative;
  flex-grow: 1;
}

.input {
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: $gray;
  border: none;

  &::placeholder {
   color: $gray;
  }

  &--warning {
    outline: 2px solid $secondary-red;

    &::placeholder {
      color: $secondary-red;
     }
  }
}

.warningMessage {
  position: absolute;
  color: $secondary-red;
  font-size: 0.9rem;
  font-style: italic;
  bottom: -30px;
}